page-tabs {

}

// estilização da Página de Perfil


menu-perfil {
    .card-background-page {

      ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 60%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        opacity: 1;
        background: rgba($color: #000, $alpha: 0.4)
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 80%;
        width: 100%;
        color: #fff;
        opacity: 1;
        background: rgba($color: #000, $alpha: 0.4)
      }
      
    }
  }
  