page-promos {

    ion-card {
        position: relative;
        text-align: center;
    
        .imagem-produto {
          position: relative;
          width: 50%;
          height: 50%;
          margin: 0 0 0 25%;
        }
        .supermercado-e-preco {
          display: flex;
          flex-wrap: initial;
    
          .icone-mercado {
            width: 30px;
            height: 30px;
            position: relative;
          }
          .preco-promocao {
            text-align: left;
            font-size: 1em;
            margin: 5px 0 0 5px;
            color: #00ff00;
          }
        }
      }
    
}
